* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: $colorP2;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    border: none;
    background: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    transition: 200ms;
    outline: none;
    &:hover {
        background: rgba(#fff, 0.2);
    }
    &:active {
        background: rgba(#fff, 0.0);
    }
}

.img-header {
    width: 100%;
}

.contenedor {
    background: $colorP1;
    display: grid;
    grid-template-columns: 60px 2fr 1fr;
    grid-template-rows: 60px 100vh auto;
    grid-gap: 10px;
    grid-template-areas:    "header header header"
                            "menu section aside"
                            "footer footer footer";
}