* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    color: $colorS;
    background: url('../img/bg/dark-paths.png');
    background-attachment: fixed;
}

h1 {
    color: $colorS;
    font-size: 2em;
}
h2 {
    color: $colorS;
    font-size: 1.75em;
}
h3 {
    color: $colorS;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: $colorS;
    &:hover {
        color: $colorS;
        text-decoration: none;
    }
}

.btn-pw {
    border: none;
    background: none;
    color: $colorS;
    border-radius: 5px;
    padding: 10px;
    transition: 200ms;
    outline: none;
    &:hover {
        background: rgba($colorS, 0.2);
        outline: none;
    }
    &:active {
        background: rgba($colorS, 0.0);
        outline: none;
    }
    .fa {
        margin-right: 10px;
    }
}

.img-header {
    width: 100%;
}

.contenedor {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 60px auto auto auto;
    grid-gap: 20px;
    grid-template-areas:    "header header"
                            "section aside"
                            "section nulo"
                            "section nulo2"
                            "footer footer";
    background: $colorS;
    transition: 200ms;
}

// .menu-activo {
//     grid-template-columns: 200px 3fr 1fr;
// }