.nav-menu {
        position: fixed;
        background: url('../img/bg/dark-paths.png');
        background-attachment: fixed;
        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 2;
        width: 0px;
        height: 100%;
        top: 0;
        transition: 200ms;
        .btn-pw {
            min-width: 250px;
            padding: 10px 20px;
            width: 100%;
            text-align: left;
            border-radius: 0px;
        }
        .sub-menu-user {
            display: flex;
            flex-direction: column;
            height: 0px;
            overflow: hidden;
            transition: 200ms;
            border-top: 1px solid $colorS;
            border-bottom: 1px solid $colorS;
            .btn-pw {
                min-width: 250px;
                padding: 10px 20px;
                width: 100%;
                text-align: left;
                border-radius: 0px;
                padding-left: 40px;
                outline: none;
            }
        }
    
        .sub-activo {
            height: 150px;
        }
}

.menu-activo {
    width: 250px;
}