.contenedor {
    .section {
        grid-area: section;
        color: #000;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 20px;
        .separador-secciones {
            color: $colorP1;
            padding: 5px 10px;
            border-bottom: 3px solid $colorP1;
            margin-top: 10px;
            height: 45px;
            width: 100%;
        }
        .noticia {
            max-width: 22%;
            max-height: 220px;
            overflow: hidden;
            position: relative;
            margin: 20px 10px;
            border-radius: 5px;
            transition: 200ms;
            &:hover{
                max-width: 25%;
            }
            img {
                width: 100%;
            }
            .titulo {
                position: absolute;
                color: $colorS;
                bottom: 20px;
                left: 20px;
                font-size: 1.2em;
                width: 90%;
            }
            .fecha {
                position: absolute;
                color: $colorS;
                top: 20px;
                right: 20px;
                font-size: 1.2em;
            }
            .efecto{
                position: absolute;
                opacity: 80%;
                transition: 200ms;
                width: 100%;
                height: 100%;
                top: 0px;
                background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(16,28,61,0) 50%, rgba(1,1,1,1) 100%);
                &:hover {
                    opacity: 100%;
                    background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(16,28,61,0) 50%, rgba(1,1,1,1) 100%);
                }
            }
        }
        .importante {
            max-width: 100%;
            max-height: 800px;
            overflow: hidden;
            position: relative;
            &:hover{
                max-width: 100%;
                margin: 20px 18px;
            }
            .titulo {
                width: 90%;
                font-size: 2em;
            }
            .fecha {
                font-size: 2em;
            }
        }
    }
}