$colorP1: rgb(16, 28, 61);
$colorS: #fff;

@import 'generales';
@import 'header';
@import 'menu';
@import 'section';
@import 'aside';

.footer {
    grid-area: footer;
    background: url('../img/bg/dark-paths.png');
    background-attachment: fixed;
}