$colorP1: rgb(16, 28, 61);
$colorS: #fff;

@import 'generales';
@import 'header';
@import 'menu';

.section {
    grid-area: section;
    color: #000;
    // border: 1px solid $colorP1;
    // box-shadow: 5px 5px 5px 0px rgba($colorP1, 0.5);
    // border-radius: 5px;
}

.aside {
    grid-area: aside;
    background: #000;
}

.footer {
    grid-area: footer;
    background: #000;
}